body{
	margin:0;
}

#Wrapper {
	display:block;
	width:100%;
	background:#cccccc;
}

#Sidebar {
	position:absolute;
	left:0;
	background:#a5a5a5;
}

nav {
	left:0;
	background:#eeeeee;
	width:40%;
}

.submen {
	display:block;
}

#Content {
	width:100%;
	background:#ffffff;
}

#Loading {
	position:absolute;
	right:0;
	bottom:0;
}

footer {
	position:absolute;
	bottom:0;
}
