


/*div, header{
	  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);
}
*/

body {
	background-color: #F1F6CF; 
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
div{
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
}
footer{
	bottom: 0;
	display: block;
	height: 3em;
	line-height: 1.5em;
	position: absolute !important;
	width: 100%;
}
footer div{
	float:right;
}
h1{
	display: inline-block;
	text-align: center;
}
header, #header{
	display: block;
	position: absolute;
	text-align: center;
	width: 12em;
	z-index: 2;
}
html{
	height: 100%;
	position: relative;
	text-align: center;
}
nav li {
	display: block;
	height: 2.5em;
	margin: 5px 0;
	position: relative;
	width: 80%;
}
/*nav li:nth-child(even){
	margin-left: 0.5em;
}*/
nav a {
	line-height: 2em;
	background-color: #F1F6CF;
	color: #3B2004;
	display: block;
	position: absolute;
	text-decoration: none;
	transition: all 0.2s;
	width: 100%;
}
nav a:hover {
	background-color: #3B2004;
	color: #F1F6CF;
}

.clear{
	clear:both;
}
.displayNone{
	display: none;
}
.hidden{
	height: 0;
	position: absolute;
	width: 0;
}
.highlight{
	display: inline-block;
	position:relative;
	z-index: 1;
}
.home {
	visibility: hidden;
}
#filters{
	display: block;
	width: 0;
	height: 0;
}
#iframeContainer{
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	height: 100%;
	position: absolute;
	/*transition: all 0.5s;*/
	width : 100%;
	z-index: 2;
}
#iframeContainer > div{
	border: 1px solid;
	display: table-cell;
	height: 100%;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
#iframeContainer > div > iframe {
	background-color: #F1F6CF;
	border: none;
	display: inline-block;
	overflow: hidden;
}
#logo{
	font-family: sans-serif;
	max-width: 100%;
}
#logo img{
	width:80%;
}
/*#gradient{
	background-image: linear-gradient(top, rgba(255,255,255, 0.3) 10%, rgba(255,255,255,0) 30%, rgba(0,0, 0, 0.3) 90%);
	background-image: -o-linear-gradient( top, rgba(255,255,255, 0.3) 10%, rgba(255,255,255,0) 30%, rgba(0,0, 0, 0.3) 90%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255, 0.3) 10%, rgba(255,255,255,0) 30%, rgba(0,0, 0, 0.3) 90%);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.3) 10%, rgba(255,255,255,0) 30%, rgba(0,0, 0, 0.3) 90%);
	background-image: -ms-linear-gradient(top, rgba(255,255,25, 0.3) 10%, rgba(255,255,255,0) 30%, rgba(0,0, 0, 0.3) 90%);
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
}*/
#hugger{
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	word-wrap: break-word;
}
#wheelContainer{
	margin: auto;
	height: 90%;
	overflow: visible;
	padding: 0;
	position: relative;
	width: 100%;
}
#wheelContainer > div{
	display: none;
	margin: auto;
	overflow: visible;
	padding: 0;
	position: absolute;
	width: 100%;
}
#wheelContainer > div > div{
	background-color: #0000FF;
	display: block;
	margin: auto;
	padding: 0;
	position: relative;
	width: 0;
}
#wheelContainer svg{
	display: block;
	height: 100%;
	margin: auto;
	width: 100%;
}
#name{
	font-size: 2em;
	margin-bottom: 1em;
}
.plane{
	height:100%;
	line-height: 0;
	position: absolute;
	text-align: left;
	width:100%;
	word-wrap:normal;
}
#wheelCenter{
	display: block;
	margin:0;
}

/* =============================== Responsiveness ==================================== */


@media screen and (min-width: 0em) and (max-width: 39.99em){	
}
@media screen and (min-width: 40em) and (max-width: 54.99em){
	nav ul{
		text-align: left;
	}
}
@media screen and (min-width: 40em){
}
@media screen and (min-width: 55em) and (max-width: 76.99em) {
}
@media screen and (min-width: 77em){

}

