


/*div, header{
	  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);
}
*/

body {
	background-color: #F1F6CF; 
	display: inline-table;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
div{
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
}
footer{
	bottom:1em;
	display: block !important;
	height: 3em;
	line-height: 1.5em;
	position: absolute !important;
	right: 0;
}
h1{
	display: inline-block;
	text-align: center;
}
header, #header{
	margin-top: 1em;
	position: relative;
	text-align: center;
	z-index: 2;
}
html{
	height: 100%;
	position: relative;
	text-align: center;
}
nav li {
	height: 2.5em;
	margin: 5px -2px;
	max-width: 2.5cm;
	position: relative;
	width: 80%;
}
/*nav li:nth-child(even){
	margin-left: 0.5em;
}*/
nav a {
	line-height: 2em;
	background-color: #F1F6CF;
	color: #3B2004;
	display: block;
	line-height: 3em;
	position: absolute;
	text-decoration: none;
	transition: all 0.2s;
	width: 100%;
}
nav a:hover {
	background-color: #3B2004;
	color: #F1F6CF;
}

.clear{
	clear:both;
}
.displayNone{
	display: none;
}
.hidden{
	height: 0;
	position: absolute;
	width: 0;
}
.highlight{
	display: inline-block;
	position:relative;
	z-index: 1;
}
.page{
	display: none;
	position: absolute;
}
#homePage{
	display: inline-block;
	height: 90%;
	margin: 0;
	position: relative;
}
#hugger{
	display: table-cell;
	height: 100%;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	width: 100%;
	word-wrap: break-word;
}
#filters{
	display: block;
	width: 0;
	height: 0;
}
#iframeContainer{
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	height: 100%;
	position: absolute;
	/*transition: all 0.5s;*/
	text-align: center;
	vertical-align: middle;
	width : 100%;
	z-index: -2;
}
#iframeContainer > iframe {
	background-color: #F1F6CF;
	border: none;
	display: block;
	height: 100%;
	margin: auto;
	overflow: hidden;
	width: 100%;
}
#iframeContainer > img {
	width: 100%;
}
#logo{
	font-family: sans-serif;
	max-width: 3cm;
}
#logo img{
	width:100%;
}
#wheelContainer{
	margin-left: 1em;
	max-height: 90%;
	padding: 0;
	position: relative;
}
#wheelContainer > div{
	display: none;
	height: 100%;
	margin: auto;
	overflow: visible;
	padding: 0;
	position: absolute;
	width: 100%;
}
#wheelContainer > div > div{
	display: block;
	margin: auto;
	padding: 0;
	position: relative;
	width: 0;
}
#wheelContainer svg{
	display: block;
	height: 100%;
	margin: auto;
	width: 100%;
}
#name{
	font-size: 2em;
	margin-bottom: 1em;
}
.plane{
	height:100%;
	line-height: 0;
	position: absolute;
	text-align: left;
	width:100%;
	word-wrap:normal;
}
#wheelCenter{
	display: block;
}

/* =============================== Responsiveness ==================================== */


@media screen and (min-width: 0em) and (max-width: 39.99em){	
}
@media screen and (min-width: 40em) and (max-width: 54.99em){
	nav ul{
		text-align: left;
	}
}
@media screen and (min-width: 40em){
	#homePage{
		max-width: 80%;
	}
}
@media screen and (min-width: 55em) and (max-width: 76.99em) {
	#homePage{
		max-width: 80%;
	}
}
@media screen and (min-width: 77em){
	#homePage{
		max-width: 40%;
	}
}

